<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>vue-luxon</title>
<link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700,700i" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
<link href="dist/app.css" rel="stylesheet">
</head>
<body>
    <div id="app" v-cloak>
        <div class="container mx-auto px-4">
                <div class="bg-white mx-auto max-w-md shadow rounded p-4">
                    <span class="block font-bold my-2 p-1">vue-luxon</span>

                    <div class="url-holder">
                        <a class="url-holder__url" href="https://www.npmjs.com/package/vue-luxon">NPM</a>
                        <a class="url-holder__url" href="https://github.com/casbloem/vue-luxon">GitHub</a>
                    </div>

<div class="codeblock">
<small class="codeblock__title codeblock__title--vars">VARIABLES</small>
<pre class="codeblock__pre">
fakeServerTime:     <input class="codeblock__input" type="text" v-model="fakeServerTime"><br>
fakeServerTimeSQL:  <input class="codeblock__input" type="text" v-model="fakeServerTimeSQL">
</pre>
</div>
    
                    <div class="codeblock">
                        <small class="codeblock__title codeblock__title--code">CODE</small>
                        <pre class="codeblock__code" v-pre>{{ fakeServerTime | luxon }}</pre>
                        <span class="codeblock__result"><small class="codeblock__title codeblock__title--result">RESULT</small>{{ fakeServerTime | luxon }}</span>
                    </div>

                    <div class="codeblock">
                            <small class="codeblock__title codeblock__title--code">CODE</small>
                            <pre class="codeblock__code" v-pre>{{ fakeServerTime | luxon({ clientFormat: 'dd'}) }}</pre>
                            <span class="codeblock__result"><small class="codeblock__title codeblock__title--result">RESULT</small>
                                {{ fakeServerTime | luxon({ clientFormat: 'dd'}) }}</span>
                        </div>

<div class="codeblock">
<small class="codeblock__title codeblock__title--vars">VARIABLES</small>
<pre class="codeblock__pre">
datetimeString:     <input class="codeblock__input" type="text" v-model="fakedatetimeString"><br>
serverZone:         <input class="codeblock__input" type="text" v-model="szone"><br>
serverFormat:       <input class="codeblock__input" type="text" v-model="sformat"><br>
clientFormat:       <input class="codeblock__input" type="text" v-model="cformat"><br>
</pre>
    <div class="relative">
            <small class="codeblock__title codeblock__title--code">CODE</small>
        <pre class="codeblock__code" v-pre>{{ datetimeString | luxon({ serverZone: ..., serverFormat: ..., clientFormat: ... }) }}</pre>
    </div>
   
    <span class="codeblock__result"><small class="codeblock__title codeblock__title--result">RESULT</small>
        {{ fakedatetimeString | luxon({ serverFormat: sformat, clientFormat: cformat, serverZone: szone }) }}</span>
</div>


</div>

<div class="bg-white mx-auto max-w-md shadow rounded p-4 mt-6">
<span class="block font-bold text-indigo-dark p-1">locale shorthand</span>       

            <div class="codeblock">
                    <small class="codeblock__title codeblock__title--code">CODE</small>
                    <pre class="codeblock__code" v-pre>{{ fakeServerTime | luxon:locale }}</pre>
                    <span class="codeblock__result">{{ fakeServerTime | luxon:locale }}</span>
                </div>

                    <div class="codeblock">
                        <small class="codeblock__title codeblock__title--code">CODE</small>
                        <pre class="codeblock__code" v-pre>
{{ fakeServerTime | luxon:locale(
    { 
        year: 'numeric',
        month: 'long',
        day: 'numeric',
        weekday: 'long'
    }
) }}</pre>
                        <span class="codeblock__result">
                        <small class="codeblock__title codeblock__title--result">RESULT</small>
                {{ fakeServerTime | luxon:locale(
                    { 
                        year: 'numeric',
                        month: 'long',
                        day: 'numeric',
                        weekday: 'long'
                    }
                ) }}</span>
                    </div>

</div>
<div class="bg-white mx-auto max-w-md shadow rounded p-4 mt-6">
<span class="block font-bold text-indigo-dark p-1">format shorthand</span>  

                    



                    <div class="codeblock">
                        <small class="codeblock__title codeblock__title--code">CODE</small>
                        <pre class="codeblock__code" v-pre>{{ fakeServerTime | luxon:format('yy - yyyy - MM') }}</pre>
                        <span class="codeblock__result">
                            <small class="codeblock__title codeblock__title--result">RESULT</small>
                            {{ fakeServerTime | luxon:format('yy - yyyy - MM') }}
                        </span>
                    </div>

                    <div class="codeblock">
                        <small class="codeblock__title codeblock__title--code">CODE</small>
                        <pre class="codeblock__code" v-pre>{{ fakeServerTimeSQL | luxon:format('dd-MM-yyyy', { serverFormat: 'SQL' }) }}</pre>
                        <span class="codeblock__result">
                                <small class="codeblock__title codeblock__title--result">RESULT</small>
                                {{ fakeServerTimeSQL | luxon:format('dd-MM-yyyy', { serverFormat: 'SQL' }) }}</span>
                    </div>

                   

</div>
<div class="bg-white mx-auto max-w-md shadow rounded p-4 mt-6">
<span class="block font-bold text-indigo-dark p-1">diffForHumans shorthand</span>  

                
                    <div class="codeblock">
                        <small class="codeblock__title codeblock__title--code">CODE</small>
                        <pre class="codeblock__code" v-pre>{{ fakeServerTime | luxon:diffForHumans }}</pre>
                        <span class="codeblock__result">
                            <small class="codeblock__title codeblock__title--result">RESULT</small>
                            {{ fakeServerTime | luxon:diffForHumans }}
                        </span>
                    </div>

                    <div class="codeblock">

                            <small class="codeblock__title codeblock__title--vars">VARIABLES</small>
<pre class="codeblock__pre">
datetimeString: <input class="codeblock__input" type="text" v-model="fakedatetimeString2"><br>
</pre>
                    <div class="relative">
                        <small class="codeblock__title codeblock__title--code">CODE</small>
                        <pre class="codeblock__code" v-pre>{{ datetimeString | luxon:diffForHumans }}</pre>
                    </div>

                        <span class="codeblock__result">
                            <small class="codeblock__title codeblock__title--result">RESULT</small>
                            {{ fakedatetimeString2 | luxon:diffForHumans }}
                        </span>
                    </div>


                    
                </div>


                
        </div>
       

    </div>

    <script src="dist/app.js?00012021323290448395435"></script>
</body>
</html>